body {
  background-image: url(./asset/pixelBG2.gif);
  background-repeat: repeat-y;
  background-size: 110%;
  background-color: #403660;
  font-family: "Sriracha", cursive;
  color: #233251;

  align-items: center;
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 80px;
}

.container {
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  justify-content: space-around;
  display: flex;
}

#statusbar {
  display: grid;
  background-color: pink;
  border: 3px solid black;
  border-radius: 5px;
  height: 300px;
}

.status {
  display: grid;
  text-align: left;
  width: 220px;
  height: 50px;
  justify-content: center;
}

#petname {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  font-size: 26px;
}

#level label {
  font-size: 22px;
  font-weight: bold;
}

progress {
  border: 2px solid black;
  border-radius: 10px;
  width: 200px;
  height: 20px;
  background-color: rgb(87, 196, 240);
}

progress::-moz-progress-bar {
  border-radius: 10px;
  background: lightblue;
}

progress::-webkit-progress-value {
  border-radius: 10px;
  border: 0.5px solid black;
  background: rgb(90, 223, 88);
}

progress::-webkit-progress-bar {
  border-radius: 10px;
  background: rgb(212, 156, 249);
}

#main {
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(./asset/pixelBG2.gif);
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  height: 610px;
  border-radius: 4px;
  border: 3px solid black;
  border-radius: 20px;
}

#player {
  width: 100px;
  position: relative;
}
#playground {
  height: 470px;
}
#level {
  text-align: center;
}

#level progress::-webkit-progress-value {
  border-radius: 10px;
  background: rgb(160, 255, 174);
}
#level progress::-webkit-progress-bar {
  border-radius: 10px;
  background: rgb(255, 211, 130);
}

#button {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

#button button {
  margin-top: 20px;
  background-color: rgba(249, 249, 249, 0.398);
  border-radius: 12px;
  width: 100px;
}

#player {
  width: 400px;
  height: 400px;
  position: relative;
}

@media(max-width: 564px){
  .container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  
  #petname {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-size: 26px;
  }
  #button {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  #button button {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 20px;
    background-color: rgba(249, 249, 249, 0.398);
    border-radius: 12px;
    width: 70px;
  }
  #player {
    width: 150px;
    height: 150px;
    position: relative;
  }
  #playground {
    height: 430px;
  }
}

@media(max-width:500px){
  #player {
    width: 100px;
    height: 100px;
    position: relative;
  }
  #button {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
}

@media(max-width:400px){
  progress {
    border: 2px solid black;
    border-radius: 10px;
    width: 100px;
    height: 20px;
    background-color: rgb(87, 196, 240);
  }
  #petname {
    text-align: left;
    font-weight: bold;
    text-decoration: underline;
    font-size: 26px;
  }
  .status {
    display: grid;
    text-align: left;
    width: 220px;
    height: 50px;
    justify-content: left;
  }
  #player {
    width: 100px;
    height: 100px;
    position: relative;
  }
  #button {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  #button button {
    margin-top: 20px;
    background-color: rgba(249, 249, 249, 0.398);
    border-radius: 12px;
    width: 10px;
  }
  #playground {
    height: 400px;
  }
}

@media(max-width:280px){
  progress {
    border: 2px solid black;
    border-radius: 10px;
    width: 70px;
    height: 20px;
    background-color: rgb(87, 196, 240);
  }
  #petname {
    text-align: left;
    font-weight: bold;
    text-decoration: underline;
    font-size: 26px;
  }
  .status {
    display: grid;
    text-align: left;
    width: 220px;
    height: 50px;
    justify-content: left;
  }
  #player {
    width: 70px;
    height: 70px;
    position: relative;
  }
  #button {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  #button button {
    margin-top: 20px;
    background-color: rgba(249, 249, 249, 0.398);
    border-radius: 12px;
    width: 10px;
  }
  #playground {
    height: 400px;
  }
}
