@import url(https://fonts.googleapis.com/css2?family=Sriracha&display=swap);

body{
    background-color: #403660;
    font-family: 'Sriracha', cursive;
    color: #8e7cc3;
}

@media (min-width:1200px){
    .container{
        max-width: 990px;
    }
}

#clock{
    margin-top: 5px;
    font-size: 26px;
}

#boxin{
    width: 100%;
    margin-top: 20px;
}

#ducktext p#top{
    font-size: 32px;
}
#ducktext p#bot{
    font-size: 48px;
}

#himg img{
    width: 300px;
    transition: all 1.5s;
}
#himg img:hover{
    transform: scale(1.10);
}
#auto-type{
    color: rgb(71, 126, 173);
}

.btn{
    width: 200px;
    font-size: 60px;
    color: #a88aff;
}
.btn:hover{
    color: #9170f5;
}

.card{
    background-color: #C1AEFC;
}