@import url(https://fonts.googleapis.com/css2?family=Sriracha&display=swap);

body {
  background-color: #18122b;
  font-family: "Sriracha", cursive;
  color: #c1aefc;
  align-items: center;
}

@media (min-width: 1200px) {
  .container {
    max-width: 990px;
  }
}

#boxin {
  width: 100%;
  margin-top: 20px;
}

#ducktext p#top {
  font-size: 32px;
}
#ducktext p#bot {
  font-size: 48px;
}

#CharImg {
  width: 550px;
}
#auto-type {
  color: rgb(71, 126, 173);
}

.btn {
  width: 200px;
  font-size: 60px;
  color: #c1aefc;
}
.btn:hover {
  color: #9170f5;
}

.carousel-item {
  text-align: center;
}
