@import url(https://fonts.googleapis.com/css2?family=Sriracha&display=swap);

body{
    background-image: url(./asset/pixelBG2.gif);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Sriracha', cursive;
    color: #233251;
    align-items: center;
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 80px;
}

@media (min-width:1200px){
    .container{
        max-width: 970px;
    }
}

progress {
    border: 2px solid black;
    border-radius: 3px;
    width: 200px;
    height: 20px;
    background: crimson;
  }

  progress {
    color: lightblue;
  }
  
  progress::-moz-progress-bar {
    background: lightblue;
  }
  
  progress::-webkit-progress-value {
    background: rgb(8, 253, 4);
  }
  
  progress::-webkit-progress-bar {
    background: rgb(254, 254, 254);
  }

button{
    margin-top: 20px;
    background-color: rgba(249, 249, 249, 0.398);
    border-radius: 12px;
}


#boxStat{
  background-color: #403660;
}

#sangkar{
  height: 500px;
  border: solid black;
  background-color: #8e7cc3;
  background-image: url(./asset/pixelBG2.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

#pimg{
  width: 130px;
}